    #pageTitle {
        text-align: center;
        font-size: 35px;
    }   

//#region SegmentCustomization

    //Segment
    .segmentToolbarBackground {
        padding-top: 20px;
    }

    // Segment Buttons
    .toolbar .segment-button {
        max-width: 500px;
    }

    //Segment Buttons
    .segmentButton {
        border-left-width: .5px;
        border-right-width: .5px;
    }

     .sc-ion-segment-md-h {
        --color-checked: rgba(0,32,91,1);
        // --color-checked: rgba(191,13,62,1);
    }

//#endregion


//#region colorCustomization

#colorSelectorContainer {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    line-height: 50%;
    text-align: center;
}

.jagBlue {
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
    font-size: 100px;
    color: rgba(0,32,91,1);  
}

.jagRed {
    margin-left: 100px;
    display: inline-block;
    vertical-align: middle;
    font-size: 100px;
    color: rgba(191,13,62,1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.angularLogo {
    padding-top: 50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 300px;
}




//#endregion


//#region textBoxEntry
#textBoxEntryContainer {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    line-height: 50%;
    text-align: center;
}

.textBoxLabel {
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    color: rgba(191,13,62,1);
}

.textBox {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    color: rgba(0,32,91,1);
}

//#endregion
