<ion-header>
  <ion-toolbar>
    <ion-title id="pageTitle">
      What Does it M.E.A.N. ?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  

  <!-- Input Box -->
  <!-- <ion-input placeholder="Type something!"></ion-input> -->
  

  <!-- MeanCards -->
  <div id="cardHolder">
  <!-- MongoDB-->
  <ion-card id="mongoCard" class="meanCard">
    <img class="meanCardPic" src="../../assets/img/MongoPic.png">
    <ion-card-header>
      <ion-card-subtitle>NoSQL</ion-card-subtitle>
      <ion-card-title>M.</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
        MongoDB is a NoSQL database which uses an object-oriented model rather than a relational model.
    </ion-card-content>
  </ion-card>

  <!-- Express -->
  <ion-card id="expressCard" class="meanCard">
      <img class="meanCardPic" src="../../assets/img/ExpressPic.png">
    <ion-card-header>
      <ion-card-subtitle>JavaScript Framework</ion-card-subtitle>
      <ion-card-title>E.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        Express is a Lightweight, back-end framework that is built on top of Node.js. Extremely robust
        functionality in spite of being such a lightweight framework.
    </ion-card-content>
  </ion-card>

  <!-- Angular -->
  <ion-card id="angularCard" class="meanCard" (click)="restyleHomepage()">
      <img class="meanCardPic" src="../../assets/img/AngularPic.png">
    <ion-card-header>
      <ion-card-subtitle>JavasScript Framework</ion-card-subtitle>
      <ion-card-title>A.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        AngularJS is a front-end, JavaScript framework and platform for building applications via HTML 
        and Typescript. Its robust library of methods and components allow DOM manipulation with a much higher
        level of abstraction.
    </ion-card-content>
  </ion-card>

  <!-- Node -->
  <ion-card id="nodeCard" class="meanCard">
      <img class="meanCardPic" src="../../assets/img/NodePic.png">
    <ion-card-header>
      <ion-card-subtitle>JavaScript Framework</ion-card-subtitle>
      <ion-card-title>N.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        Node.js is a JavaScrip Framework which serves as a back-end runtime environment, and is the 
        backbone of the M.E.A.N. stack.
    </ion-card-content>
  </ion-card>
</div>


  <!--  -->
  <div id="clickMeButton">
    <ion-button shape='round' size="large" (click)="navigateToDiagramPage()">Click Me</ion-button>
  </div>
</ion-content>
