#pageTitle {
    text-align: center;
    font-size: 35px;
}   

//#region textBoxEntry

//A lot of these lines are probably unecessary but it gets so convoluted that they just stayed here for my sanity
#textBoxEntryContainer {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    line-height: 50%;
    text-align: center;
}

.textBoxLabel {
    margin-bottom: 20px;
    padding-bottom: 30px;
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    color: rgba(191,13,62,1);
}

.textBoxItems {
    display: inline-block;
    width: 500px;
    line-height:50;
}

.textBox {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    color: rgba(0,32,91,1);
}
//#endregion
